{% macro Navigation() -%}
  <nav class="navigation">
    <ul class="navigation__items">
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/'}}" href="/"><span>Feed</span></a></li>
      <li class="navigation__item"><a class="navigation__link" href="https://www.linkedin.com/in/darien-higgins-537841135/"><span>LinkedIn</span></a></li>
    </ul>
  </nav>
{%- endmacro %}

{% macro Header(classList) -%}
  <header class="header {{ classList }}">
  {# <div class="header__logo"><a href="/">{% include "../static/img/logo--16.svg" %}</a></div> #}
  <div class="header__content">
    <h1 class="header__name">{{ meta.name | replace(' ', '&nbsp;') | safe }}</h1>
    {# <h2 class="header__title">{{ meta.jobTitle | safe }}</h2> #}
  </div>
    {{ Navigation() }}
  </header>
{%- endmacro %}
